<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>urlpaypal</param-name>
        <param-value>https://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
    </context-param>
    <context-param>
        <param-name>urlretorno</param-name>
        <param-value>http://localhost:8080/ecosalud/cart?accion=finish</param-value>
    </context-param>
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>davidpachecoask@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>Uatr1ceaT</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>pe.com.ecosalud.controlador.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonaController</servlet-name>
        <servlet-class>pe.com.ecosalud.controlador.PersonaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarMoneda</servlet-name>
        <servlet-class>pe.com.ecosalud.controlador.CambiarMoneda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>pe.com.ecosalud.vistas.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoController</servlet-name>
        <servlet-class>pe.com.ecosalud.controlador.ProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>pe.com.ecosalud.vistas.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValoracionController</servlet-name>
        <servlet-class>pe.com.ecosalud.controlador.ValoracionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>pe.com.ecosalud.controlador.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoController</servlet-name>
        <servlet-class>pe.com.ecosalud.controlador.EmpleadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaController</servlet-name>
        <servlet-class>pe.com.ecosalud.controlador.VentaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/logins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonaController</servlet-name>
        <url-pattern>/personas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarMoneda</servlet-name>
        <url-pattern>/monedas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoController</servlet-name>
        <url-pattern>/productos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValoracionController</servlet-name>
        <url-pattern>/estrellas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoController</servlet-name>
        <url-pattern>/empleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaController</servlet-name>
        <url-pattern>/ventas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <location>/404.html</location>
    </error-page>
</web-app>
